# requirements.txt
# Core ML and Audio Libraries
# We need torch/torchaudio >= 2.1 for pyannote.audio 3.1+ to work correctly
torch>=2.1.0
torchaudio>=2.1.0
pyannote.audio>=3.1
faster-whisper

# Application and Utility Libraries
streamlit
python-dotenv
sounddevice
scipy
numpy
huggingface_hub
SpeechRecognition


#
# NeMo
# huggingface_hub==0.23.2
# install
# reinstall.sh